# ===== Build artifacts =====
build/*/
out/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
*.ninja
*.make
compile_commands.json

# ===== Visual Studio =====
.vs/
*.sln
*.vcxproj*
*.user
*.opensdf
*.sdf
*.VC.db

# ===== Binaries =====
*.exe
*.dll
*.lib
*.pdb
*.obj
*.o

# ===== OS =====
.DS_Store
Thumbs.db

# ===== Logs =====
*.log

# ===== Temp =====
*.tmp
*.swp

# ===== Skia gclient =====
external/skia/.*